<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/header'); -%>
    <body>
        <%- include('layouts/navbar'); -%>
        <%- include('layouts/navbar_bg'); -%>
        <%- include('layouts/doc_sidebar'); -%>

        <!-- docs -->
        <section class="page-section doc-container">
            <div class="container px-4 px-lg-5">
                <h3 class="text-center mt-0">Sample Queries</h2>
                <hr class="divider" />
                <h4 id="query1" class="text-center mt-0">Query 1</h4>
                <h4 id="query2" class="text-center mt-0">Query 2</h4>
            </div>
        </section>
        <%- include('layouts/scripts'); %>
        <script>
        </script>
    </body>
</html>